<form #ggbCreateObjectForm="ngForm" (submit)="save()">
  <div class="mui-textfield kind">
    <dropdown [options]="kinds" [selectedOptionId]="selectedKind.id" (onSelected)="kindChanged($event)"></dropdown>
    <label>Тип об'єкту</label>
  </div>
  <div class="mui-textfield">
    <input type="text" name="object_name" [(ngModel)]="shapeJson.name" required>
    <label>Назва фігури</label>
  </div>
  <div class="mui-textfield kind">
    <dropdown [options]="angles" [selectedOptionId]="this.selectedAngle.id" (onSelected)="angleChanged($event)"></dropdown>
    <label>Повернути</label>
  </div>
  <h4>Координати крайньої правої верхньої точки в базовому положенні (поворот 0 градусів)</h4>
  <div class="coords-container">
    <div class="mui-textfield">
      <input type="number" step="0.01" name="object_x" [(ngModel)]="shapeJson.root.x" required>
      <label>Y</label>
    </div>
    <div class="mui-textfield">
      <input type="number" step="0.01" name="object_y" [(ngModel)]="shapeJson.root.y" required>
      <label>Z</label>
    </div>
  </div>
  <h4>Розміри (або номер) фігури</h4>
  <div class="props-container">
    <div class="mui-textfield" *ngFor="let prop of shapeDimensions">
      <input type="number" step="0.01" name="{{prop.prop}}" [(ngModel)]="prop.val" required>
      <label><b>{{prop.prop}}</b> ({{ prop.description }})</label>
    </div>
  </div>
  <button class="mui-btn mui-btn--primary"
          type="submit" [disabled]="!ggbCreateObjectForm.form.valid">
    Додати фігуру
  </button>
</form>
