<a (click)="addStep()">Додати крок</a>
<ul class="mui-tabs__bar mui-tabs__bar--justified">
  <li *ngFor="let stepWorkspace of data"
      [ngClass]="{ 'mui--is-active': stepWorkspace.stepConf.sequence === activeStepSequence }">
    <a (click)="activateStep(stepWorkspace)">{{ stepWorkspace.stepConf.sequence }}. {{ stepWorkspace.stepConf.name }}</a>
  </li>
</ul>
<div *ngFor="let stepWorkspace of data"
     [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': stepWorkspace.stepConf.sequence === activeStepSequence }">
  <edit-exam-step-conf [workspace]="stepWorkspace"
                       [sequenceDropdownOptions]="sequenceDropdownOptions"
                       (onSequenceChanged)="sequenceChanged(stepWorkspace, stepWorkspace.stepConf.sequence, $event)"
                       [isReadonly]="isResultsStep(stepWorkspace)"
                       (onDeleted)="removeStep(stepWorkspace)"></edit-exam-step-conf>
</div>
