<a (click)="addStep()">Додати крок</a>
<ul class="mui-tabs__bar mui-tabs__bar--justified">
  <li *ngFor="let step of data" [ngClass]="{ 'mui--is-active': step.sequence === activeStepSequence }">
    <a (click)="activateStep(step)">{{ step.sequence }}. {{ step.name }}</a>
  </li>
</ul>
<div *ngFor="let step of data"
     [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': step.sequence === activeStepSequence }">
  <edit-exam-step-conf [data]="step"
                       [sequenceDropdownOptions]="sequenceDropdownOptions"
                       (onSequenceChanged)="sequenceChanged(step, step.sequence, $event)"
                       [isReadonly]="isResultsStep(step)"
                       (onDeleted)="removeStep(step)"></edit-exam-step-conf>
</div>
