<form (submit)="save()">
  <dropdown [options]="testTypes"
            [selectedOption]="testTypeSelectedDropdownOption"
            selectedOptionPlaceholder="Виберіть тип тесту" (onSelected)="testTypeSelected($event)" ></dropdown>

  <div class="mui-textfield">
    <textarea placeholder="Запитання" name="question" [(ngModel)]="updated.question"></textarea>
    <label>Запитання</label>
  </div>
  <p><img [src]="updated.imageUrl" class="test-image"></p>

  <div class="mui-textfield" *ngFor="let opt of updated.options">
    <input type="text" name="option-value-{{opt.id}}" [(ngModel)]="opt.value">
    <label>Варіант {{ opt.id }}</label>
  </div>

  <p hidden>Допоміжні матеріали: <br><img [src]="updated.help"></p>

  <button class="mui-btn mui-btn--primary"
          type="submit">
    {{ isSaving ? 'Збереження' : 'Зберегти' }}
  </button>
</form>
