<div style="display: flex; justify-content: space-between;">
  <a [hidden]="preview" (click)="showPreview()">Попередній перегляд</a>
  <a [hidden]="!preview" (click)="backFromPreview()">Назад до редагування</a>
  <a (click)="backToTestGroup()">Назад до групи</a>
</div>

<app-test *ngIf="preview" [test]="preview" (onContinue)="previewStub()" (onSubmitted)="previewStub()"></app-test>

<form *ngIf="!preview" (submit)="save()">
  <dropdown [options]="dropdownTestTypes"
            [selectedOptionId]="updated.testType"
            selectedOptionPlaceholder="Виберіть тип тесту" (onSelected)="testTypeSelected($event)" ></dropdown>

  <div class="mui-textfield question">
    <textarea placeholder="Введіть запитання" name="question" [(ngModel)]="updated.question"></textarea>
    <label>Запитання</label>
  </div>

  <div class="test-image-container">
    <img [src]="updated.imageUrl" *ngIf="updated.imageUrl" class="test-image">
    <upload [path]="uploadTempImgPath" [auto]="true"
            [hidden]="updated.imageUrl"
            (onUploaded)="testImageUploaded($event, true)"
            (onUploadFailed)="testImageUploaded($event, false)" class="test-img-uploader"></upload>
    <div [hidden]="!updated.imageUrl"><a (click)="updated.imageUrl = ''"><i class="material-icons">delete_forever</i></a></div>
  </div>

  <br>
  <p class="section-name">Варіанти відповіді:</p>

  <div class="options-container">
    <div class="option-container" *ngFor="let opt of updated.options">
      <div class="option-check">
        <input type="{{ updated.testType === testType.Checkbox ? 'checkbox' : 'radio'}}" name="radiogroup"
               [checked]="opt.correct"
               [value]="opt.id"
               (change)="onOptionCheckChanged(opt)">
      </div>
      <div class="option-value-container">
        <div *ngIf="opt.valueType === optionValueType.Words" class="mui-textfield option-words-value">
          <textarea autosize
                    name="option-value-{{opt.id}}"
                    [(ngModel)]="opt.value"
                    placeholder="Введіть текст або формулу"
                    class="option-words-value-textarea"></textarea>
        </div>
        <div *ngIf="opt.valueType === optionValueType.Img">
          <div class="option-image-container relative" *ngIf="opt.value">
            <border-sticky-btn (onClick)="opt.value = ''" positionH="right" positionV="top">
              <i class="material-icons resmat-primary option-image-delete">delete_forever</i>
            </border-sticky-btn>
            <img class="option-img" [src]="opt.value">
          </div>
          <upload [hidden]="opt.value" [auto]="true"
                  [path]="uploadTempImgPath"
                  (onUploaded)="optionImageUploaded(opt, $event, true)"
                  (onUploadFailed)="optionImageUploaded(opt, $event, false)"></upload>
        </div>
      </div>
      <dropdown [options]="dropdownOptionValueTypes"
                [selectedOptionId]="opt.valueType"
                selectedOptionPlaceholder="Виберіть тип"
                (onSelected)="optionTypeSelected(opt, $event)" class="option-type-dropdown resmat-primary"></dropdown>
      <a (click)="deleteOption(opt)"><i class="material-icons">delete_forever</i></a>
    </div>
    <div style="text-align: center; width: 100%;">
      <a (click)="addBlankOption()"><i class="material-icons">playlist_add</i></a>
    </div>
  </div>

  <br>

  <div>
    <p class="section-name">
      Допоміжні матеріали:
    </p>
    <div class="help-img-container">
      <img *ngIf="updated.help" [src]="updated.help" class="help-img">
      <upload [hidden]="updated.help"
              [auto]="true"
              [path]="uploadTempImgPath"
              (onUploaded)="helpImageUploaded($event, true)"
              (onUploadFailed)="helpImageUploaded(opt, $event, false)" class="help-img-uploader"></upload>
      <a (click)="updated.help = ''">
        <i [hidden]="!updated.help" class="material-icons resmat-primary">delete_forever</i>
      </a>
    </div>
  </div>

  <button [disabled]="isSaving" class="mui-btn mui-btn--primary"
          type="submit">
    {{ isSaving ? 'Збереження' : 'Зберегти' }}
  </button>
</form>
