<fieldset [disabled]="isReadonly || isTaskFlowStep" class="fieldset" [ngClass]="{ 'disabled': isReadonly || isTaskFlowStep }">
  <div class="mui-textfield">
    <dropdown [options]="sequenceDropdownOptions"
              [selectedOptionId]="stepConf.sequence"
              (onSelected)="sequenceChanged($event)"
              *ngIf="!isReadonly"></dropdown>
    <p *ngIf="isReadonly">{{ stepConf.sequence }}</p>
    <label>Номер по порядку</label>
  </div>
  <div class="mui-textfield">
    <input type="text" name="name" [(ngModel)]="stepConf.name" required>
    <label>Назва кроку</label>
  </div>
  <div class="flex-container" *ngIf="stepConf.hasToBeSubmitted">
    <div class="flex-column flex-1">
      <div class="mui-textfield">
        <input type="number" name="attemptsLimit" [(ngModel)]="stepConf.attemptsLimit" required>
        <label>Максимальна кількість спроб</label>
      </div>
      <div class="mui-textfield">
        <input type="number" name="attemptValuePercents" [(ngModel)]="stepConf.attemptValuePercents" required>
        <label>Вплив нової спроби на результат у відсотках</label>
      </div>
    </div>
    <div class="flex-column flex-1">
      <div class="mui-textfield">
        <input type="number" name="mistakesPerAttemptLimit" [(ngModel)]="stepConf.mistakesPerAttemptLimit" required>
        <label>Максимально помилок за спробу</label>
      </div>
      <div class="mui-textfield">
        <input type="number" name="mistakeValuePercents" [(ngModel)]="stepConf.mistakeValuePercents" required>
        <label>Вплив помилки на результат у відсотках</label>
      </div>
    </div>
  </div>
  <div class="mui-textfield" *ngIf="stepConf.hasToBeSubmitted">
    <input type="number" name="maxScore" [(ngModel)]="stepConf.maxScore" required>
    <label>Максимальна оцінка</label>
  </div>

  <div class="mui-textfield">
    <p type="text">{{ stepConf.stepType }}</p>
    <label>Тип кроку</label>
  </div>
  <div class="flex-container" *ngIf="stepConf.hasToBeSubmitted">

    <div [ngSwitch]="stepConf.stepType" class="flex-1" *ngIf="!workspace.isLoading && workspace.stepData">
      <edit-test-set-conf
        *ngSwitchCase="'test-set'"
        [workspace]="workspace"></edit-test-set-conf>

      <edit-task-flow-conf
        *ngSwitchCase="'task-flow'"
        [workspace]="workspace"></edit-task-flow-conf>

      <div *ngSwitchDefault>No step data</div>
    </div>

    <div class="flex-1" [hidden]="!workspace.isLoading">Завантаження</div>
  </div>
  <div class="mui-checkbox disabled">
    <label>
      <input type="checkbox" [checked]="!stepConf.hasToBeSubmitted" (change)="toggleHasToBeSubmitted()" disabled>
      Інформаційний, не впливає на результат
    </label>
  </div>
  <!--Has to be a div instead of button because button causes form submit-->
  <div class="mui-btn mui-btn--flat mui-btn--danger" (click)="delete()" *ngIf="!isReadonly">Видалити цей крок</div>
</fieldset>
