<div class="exam-container mui-container">
  <div class="loading" *ngIf="isLoading"><h2>Завантаження...</h2></div>
  <div class="error-message" *ngIf="!isLoading && errorMessage"><h2>{{ errorMessage }}</h2></div>
  <div class="exam-info" *ngIf="!isLoading && !errorMessage">
    <div>{{exam.name}}</div>
    <div><span [hidden]="step.type === 'results'">Етап {{exam.currentStep.sequence}}.</span> {{exam.currentStep.description}}</div>
  </div>
  <div class="test-set-container" *ngIf="step.type === 'test-set'">
    <div class="conditions" *ngIf="step.mistakes <= step.mistakesLimit">
      Кожна невірна відповідь буде зарахована як помилка.
      <br/>
      <b>Максимальна кількість помилок - {{ step.mistakesLimit }}</b>.
      <br/>
      Якщо буде допущена <b>{{ step.mistakesLimit + 1 }}</b> помилка - поточна спроба анулюється.
      <br/>
      Наступна спроба буде доступна за 24 години. Кількість доступних спроб - {{ step.maxAttempts }}.
    </div>
    <div class="mistakes" title="Кількість допущених помилок" >
      Поточна спроба: <b>{{ step.attempt }}</b>
      <br/>
      Кількість допущених помилок: <b>{{ step.mistakes }}</b>
    </div>
    <div class="mistakes-limit-exceeded" *ngIf="step.mistakes > step.mistakesLimit">
      Ліміт помилок вичерпано. Наступна спроба буде доступна за 24 години.
    </div>
    <test-set [tests]="step.data" *ngIf="step.mistakes <= step.mistakesLimit"
              (onTestSubmitted)="step.verify($event)"
              (onSubmitted)="submitCurrentStep($event)"></test-set>
  </div>
  <div class="task-container" *ngIf="step.type === 'task-flow'">
    <task-flow [task]="step.taskData" (onFinished)="submitCurrentStep($event)"></task-flow>
  </div>
  <div class="mui-panel" *ngIf="step.type === 'results'">
    <exam-results [data]="step.data" [showName]="false"></exam-results>
  </div>
</div>
