.exam-assignment {
  height: 350px;
  display: flex;
  justify-content: center;
}

.exam-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.task-container {
  min-width: 900px;
}

.loading {
  text-align: center;
}

.error-message {
  text-align: center;
  color: red;
}

.conditions {
  text-align: center;
}

.mistakes-limit-exceeded {
  color: red;
  text-align: center;
}

/*.mistakes {*/
  /*position: fixed;*/
  /*left: 20px;*/
  /*top: 50%;*/
  /*font-size: 1.5em;*/
  /*z-index: 10;*/
/*}*/

