<div class="exam-container mui-container">
  <div class="test-set-container">
    <div class="conditions" *ngIf="testSet.mistakes <= testSet.mistakesLimit">
      Кожна невірна відповідь буде зарахована як помилка.
      <br/>
      <b>Максимальна кількість помилок - {{ testSet.mistakesLimit }}</b>.
      <br/>
      Якщо буде допущена <b>{{ testSet.mistakesLimit + 1 }}</b> помилка - поточна спроба анулюється.
      <br/>
      Наступна спроба буде доступна за 24 години. Кількість доступних спроб - {{ testSet.maxAttempts }}.
    </div>
    <div class="mistakes-limit-exceeded" *ngIf="testSet.mistakes > testSet.mistakesLimit">
      Ліміт помилок вичерпано. Наступна спроба буде доступна за 24 години.
    </div>
    <test-set [tests]="testSet.data" *ngIf="testSet.mistakes <= testSet.mistakesLimit"
              (onTestSubmitted)="testSet.verify($event)"
              (onSubmitted)="continue($event)"></test-set>
  </div>
</div>
