<div class="mui-panel" hidden>Flow progress will be here</div>
<div class="mui-panel">
  <app-test [hidden]="assignments.current != 'test'"
            [test]="assignments.test?.current"
            [sequence]="assignments.sequence"
            (passed)="nextAssignment($event)">
  </app-test>
  <app-bc [hidden]="assignments.current != 'bc'"
          [sequence]="assignments.sequence"
          (passed)="nextAssignment($event)">
  </app-bc>
  <chart-set [hidden]="assignments.current != 'chart'"
             [data]="assignments.chart?.data"
             [title]="assignments.chart?.title"
             (passed)="nextAssignment($event)"></chart-set>
</div>
