<form class="test-content relative" onSubmit="return false;">
  <help-materials [imgUrl]="test.helpImg"></help-materials>
  <div class="test-question">
    <span class="test-number">{{ test.sequence }}.</span>
    <mathjax [data]="test.question"></mathjax>
    <div *ngIf="test.imageUrl">
      <img class="test-img" src="{{ test.imageUrl }}">
    </div>
  </div>
  <table class="test-options">
    <tr class="option" *ngFor="let option of test.options">
      <td class="result">
        <div *ngIf="option.checked && isVerified()">
          <span class="wrong" *ngIf="!option.correct">&#9747;</span>
          <span class="correct" *ngIf="option.correct">&#10003;</span>
        </div>
      </td>
      <td class="radiobutton" *ngIf="test.type !== testType.SingleInput">
        <input type="{{ test.type === testType.Checkbox ? 'checkbox' : 'radio'}}" name="radiogroup"
               [checked]="option.checked"
               [value]="option.id"
               (change)="onOptionChecked(option)">
      </td>
      <td *ngIf="test.type !== testType.SingleInput">
        <mathjax class="option-value" *ngIf="option.valueType === 'words'" [data]="option.value"></mathjax>
        <img *ngIf="option.valueType === 'img'" class="option-img" src="{{ option.value }}">
      </td>
      <td *ngIf="test.type === testType.SingleInput">
        <div class="mui-textfield">
          <input [type]="option.valueType === optionValueType.Number ? 'number' : 'text'"
                 [step]="option.valueType === optionValueType.Number ? '0.00000000001' : null"
                 name="option_value_{{option.id}}"
                 [(ngModel)]="option.value"
                 (change)="onOptionChecked(option)"
                 required>
        </div>
      </td>
    </tr>
  </table>
  <status-with-navigation [showStatus]="isVerified()"
                          [statusSuccess]="test.status === 1"
                          statusSuccessMessage="Відповідь правильна."
                          statusFailureMessage="Відповідь не вірна, оберіть інший варіант."
                          [showSubmit]="test.status !== 1" [showContinue]="showContinue && test.status === 1"
                          [disableSubmit]="test.status === 2"
                          (onSubmit)="submit()" (onContinue)="doContinue()"></status-with-navigation>
</form>
