<div class="flex-container flex-justify-space-between">
  <div class="mui-dropdown flex-1">
    <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
      Додати роботу
      <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu">
      <li *ngFor="let ec of examConfs"><a (click)="addExamForConf(ec)">{{ ec.name }}</a></li>
    </ul>
  </div>
  <div>
    <a (click)="onBackToGroup.emit()">Назад до групи</a>
  </div>
</div>
<student-exam-list [exams]="exams" [conf]="studentExamListConf"></student-exam-list>
