.container {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  margin-top: 1em;
}

.data .mui-textfield {
  padding: 0px;
  margin: 0px;
}

.data input {
  width: 80px;
  text-align: center;
}

.variable {
  display: flex;
}

.var-value {
  width: 80px;
}

.var-name {
  font-style: italic;
  text-align: right;
}

.var-description {
  text-align: right;
}

.submit {
  margin-top: 1em;
}

.mui-invalid {
  border-color: #F44336;
  border-width: 2px;
}

