<div class="container mui-container relative">
  <a class="help-materials left bottom mui-btn mui-btn--flat" href="img/cut.png" download>
    Допоміжні матеріали
  </a>
  <div class="mui--text-subhead">
    <span class="test-number">{{ sequence }}.</span>
    Введіть пораховані значення:
  </div>
  <div class="data">
    <table>
      <tr *ngFor="let variable of variables">
        <td class="var-description"><span>{{ variable.description }}: </span></td>
        <td class="var-name"><span class="var-name" [innerHTML]="variable.name"></span></td>
        <td>=</td>
        <td class="var-value">
          <div class="mui-textfield">
            <input type="text" [(ngModel)]="variable.typedValue"
                   [ngClass]="{ 'mui-invalid': isSubmitted && !variable.valid }" required>
          </div>
        </td>
        <td class="var-units">({{ variable.units }})</td>
      </tr>
    </table>
  </div>
  <app-submit class="submit" [isSubmitted]="isSubmitted" [isCorrectAnswer]="isCorrectAnswer" isBack="true"
              (onSubmit)="submit()" (onNext)="nextAssignment($event)"></app-submit>
</div>
