<div class="flex-container flex-align-center">
  <span class="resmat-header resmat-label">Додати студента до групи:&nbsp;&nbsp;</span>
  <p class="header2">{{ group.name }}</p>
</div>
<form (submit)="save()">
  <fieldset [disabled]="isSaving">
    <div class="mui-textfield">
      <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
      <label>Ім'я</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="lastName" [(ngModel)]="user.lastName">
      <label>Прізвище</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="accessKey" [(ngModel)]="user.accessKey" required>
      <label>Ключ доступу</label>
    </div>
    <button class="mui-btn mui-btn--primary"
            type="submit">
      {{ isSaving ? 'Збереження' : 'Зберегти' }}
    </button>
  </fieldset>
</form>
