.chart-container {
  width: 750px;
  height: 375px;
  text-align: center;
  position: relative;
  margin: 1em;
}

.chart-title {
  position: absolute;
  top: -25px;
  font-size: 1.1em;
  left: 0px;
}
