.login-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 3rem;
}

.login-form {
  width: 350px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.error-message {
  color: red;
  text-align: center;
}

.analytics-warning {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
