<fieldset [disabled]="isSaving" class="fieldset" [ngClass]="{ 'disabled': isSaving }">
  <div class="mui-textfield">
    <input type="text" name="testSetName" [(ngModel)]="workspace.stepData.TestSetConfDto.testSetConf.name">
    <label>Назва набору тестів</label>
  </div>
  <div class="mui-textfield">
    <input type="number" name="maxTestsAmount" [(ngModel)]="workspace.stepData.TestSetConfDto.testSetConf.maxTestsAmount" required>
    <label>Максимальна кількість тестів в наборі</label>
  </div>

  <div>
    <table class="mui-table mui-table--bordered">
      <tbody>
      <tr>
        <td class="resmat-label groups-table-cell" colspan="2">Групи, які братимуть участь у формуванні набору</td>
        <td class="resmat-label groups-table-cell" style="width: 10%">Відсоток тестів у наборі</td>
        <td></td>
      </tr>
      <tr *ngFor="let group of workspace.stepData.TestSetConfDto.testGroups; let i = index">
        <td>{{ i + 1 }}.&nbsp;</td>
        <td>
          {{ getTestGroupNameById(group.testGroupConfId) }}
        </td>
        <td>
          <div class="mui-textfield proportion-percents-input-container">
            <input type="number"
                   name="proportionPercents-{{group.testGroupConfId}}"
                   [(ngModel)]="group.proportionPercents"
                   required>
          </div>
        </td>
        <td>
          <a (click)="deleteTestGroup(group)"><i class="material-icons">delete_forever</i></a>
        </td>
      </tr>
      <tr *ngIf="newTestGroup" style="border: 0">
        <td style="border: 0" colspan="2">
          <dropdown [options]="filteredTestGroupConfDrowpdownOptions"
                    [selectedOptionId]="newTestGroup.testGroupConfId"
                    (onSelected)="groupSelected($event, newTestGroup)">
          </dropdown>
        </td>
        <td style="border: 0">
          <div class="mui-textfield proportion-percents-input-container">
            <input type="number"
                   name="newTestGroupProportionPercents"
                   [(ngModel)]="newTestGroup.proportionPercents"
                   required>
          </div>
        </td>
        <td style="border: 0">
          <a (click)="addTestGroup()"><i class="material-icons">playlist_add</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</fieldset>
