<fieldset [disabled]="isSaving" class="fieldset" [ngClass]="{ 'disabled': isSaving }">
  <div class="mui-textfield">
    <input type="text" name="testSetName" [(ngModel)]="data.testSetConf.name">
    <label>Назва набору тестів</label>
  </div>
  <div class="mui-textfield">
    <input type="number" name="maxTestsAmount" [(ngModel)]="data.testSetConf.maxTestsAmount" required>
    <label>Максимальна кількість тестів в наборі</label>
  </div>

  <div>
    <table class="mui-table mui-table--bordered">
      <tbody>
      <tr>
        <td class="resmat-label groups-table-cell" colspan="2">Групи, які братимуть участь у формуванні набору</td>
        <td class="resmat-label groups-table-cell">Відсоток тестів у наборі</td>
        <td></td>
      </tr>
      <tr *ngFor="let group of data.testGroups; let i = index">
        <td>{{ i + 1 }}.&nbsp;</td>
        <td>
          {{ getTestGroupNameById(group.testGroupConfId) }}
        </td>
        <td>
          <input type="number" name="proportionPercents" [(ngModel)]="group.proportionPercents" required>
        </td>
        <td>
          <a (click)="deleteTestGroup(group)"><i class="material-icons">delete_forever</i></a>
        </td>
      </tr>
      <tr *ngIf="newTestGroup" style="border: 0">
        <td style="border: 0"></td>
        <td style="border: 0">
          <dropdown [options]="filteredTestGroupConfDrowpdownOptions"
                    [selectedOptionId]="newTestGroup.testGroupConfId"
                    (onSelected)="groupSelected($event, group)">
          </dropdown>
        </td>
        <td style="border: 0">
          <input type="number" name="newTestGroupproportionPercents" [(ngModel)]="newTestGroup.proportionPercents" required>
        </td>
        <td style="border: 0">
          <a (click)="addTestGroup()"><i class="material-icons">playlist_add</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</fieldset>
