<div class="container mui-container">
  <div class="mui--text-subhead" [hidden]="hideHeader">
    <span class="test-number" [hidden]="readonly">{{ data.sequence }}.</span>
    {{ data.description }}
  </div>
  <form #inputSetForm="ngForm" class="data">

    <div class="var-group" *ngFor="let group of groups">

      <span class="var-group-name" [innerHTML]="group.name"></span>
      <div class="variables-container">
        <div class="variable-container" *ngFor="let variable of group.variables">

          <div class="variable">
            <div class="mui-textfield mui-textfield--float-label">
              <input type="number" step="any" [(ngModel)]="variable.value" [name]="variable.name"
                     [style.width]="(100 * variable.inputWidthRate) + 'px'"
                     [ngClass]="{ 'mui-invalid': isVerified() && !variable.correct, 'correct': isVerified() && variable.correct }"
                     [required]="variable.required" [disabled]="readonly">
              <label class="input-label" [innerHTML]="variable.name"></label>
            </div>
            <span class="units" [innerHTML]="variable.units"></span>
          </div>
          <span class="description" [innerHTML]="variable.description"></span>

        </div>
      </div>

    </div>
  </form>
  <status-with-navigation *ngIf="!readonly" [showStatus]="isVerified()"
                          [statusSuccess]="data.status === 1"
                          statusSuccessMessage="Відповідь правильна."
                          statusFailureMessage="Відповідь не вірна, введіть інше значення."
                          [showSubmit]="data.status !== 1" [showContinue]="data.status === 1"
                          [disableSubmit]="!inputSetForm.form.valid || data.status === 2"
                          (onSubmit)="submit()" (onContinue)="nextAssignment()"></status-with-navigation>
</div>
