<div class="flex-container">
  <span class="resmat-header resmat-label">Група:&nbsp;&nbsp;</span>
  <editable-text class="resmat-header resmat-regular mui--text-center"
                 [text]="workspaceData.data.name"
                 inputPlaceholder="Введіть назву групи"
                 (onSave)="workspaceData.saveGroupName($event)"></editable-text>
</div>


<ul class="mui-tabs__bar mui-tabs__bar--justified no-print" style="margin-top: -10px">
  <li [ngClass]="{ 'mui--is-active': activeTab === tabs.students }" class="tab resmat-tab">
    <a (click)="switchTab(tabs.students)">Студенти</a>
  </li>
  <li [ngClass]="{ 'mui--is-active': activeTab === tabs.operations }" class="tab resmat-tab">
    <a (click)="switchTab(tabs.operations)">Дії</a>
  </li>
  <li [ngClass]="{ 'mui--is-active': activeTab === tabs.progress }" class="tab resmat-tab">
    <a (click)="switchTab(tabs.progress)">Прогрес</a>
  </li>
  <li [ngClass]="{ 'mui--is-active': activeTab === tabs.upload }" class="tab resmat-tab">
    <a (click)="switchTab(tabs.upload)">Завантажити файл</a>
  </li>
  <li [ngClass]="{ 'mui--is-active': activeTab === tabs.learningMaterials }" class="tab resmat-tab">
    <a (click)="switchTab(tabs.learningMaterials)">Матеріали</a>
  </li>
</ul>

<!--------------------- STUDENTS ---------------------->

<div [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': activeTab === tabs.students }">
  <table class="mui-table mui-table--bordered">
    <thead>
    <tr>
      <th style="width: 20px;"></th>
      <th>Прізвище</th>
      <th>Ім'я</th>
      <th>Ключ доступу</th>
      <th colspan="3" class="mui--text-center"><a (click)="addUserToCurrentGroup()" class="link-with-icon"><i class="material-icons">playlist_add</i>Додати</a></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of workspaceData.students; let idx = index;">
      <td>{{ idx + 1 }}.</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.accessKey }}</td>
      <td class="controls"><a (click)="delete(student)" *ngIf="deletable"><i class="material-icons">delete_forever</i></a></td>
      <td class="controls"><a (click)="edit(student)"><i class="material-icons">mode_edit</i></a></td>
      <td class="controls"><a (click)="results(student)"><i class="material-icons">insert_chart</i></a></td>
    </tr>
    <tr *ngIf="workspaceData.students && workspaceData.students.length === 0">
      <td colspan="5">В групі студентів немає</td>
    </tr>
    </tbody>
  </table>
</div>

<!--------------------- OPERATIONS ---------------------->

<div [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': activeTab === tabs.operations }">
  <div class="flex-container flex-justify-space-between">
    <div class="flex-container flex-column">
      <br>
      <a (click)="unlockAllInGroup(workspaceData.data)" class="link-with-icon"><i class="material-icons">lock_open</i> Розблокувати всі роботи в групі</a>
      <br>
      <a (click)="lockAllInGroup(workspaceData.data)" style="color: red;" class="link-with-icon"> <i class="material-icons">lock_outline</i> Заблокувати всі роботи в групі</a>
    </div>
    <div class="flex-container flex-column">
      <br>
      <div class="mui-dropdown">
        <a data-mui-toggle="dropdown" class="link-with-icon">
          <i class="material-icons">playlist_add</i> Додати роботу всім студентам в групі <span class="mui-caret"></span>
        </a>
        <ul class="mui-dropdown__menu">
          <li *ngFor="let ec of workspaceData.examConfs">
            <a (click)="workspaceData.addExamForAllStudents(ec)" class="link-with-icon">
              <i class="material-icons">playlist_add</i>
              {{ ec.name }}
            </a>
          </li>
        </ul>
      </div>
      <br>
      <div class="mui-dropdown">
        <a data-mui-toggle="dropdown" style="color: red;" class="link-with-icon">
          <i class="material-icons">delete_forever</i> Видалити роботу всім студентам в групі<span class="mui-caret"></span>
        </a>
        <ul class="mui-dropdown__menu">
          <li *ngFor="let ec of workspaceData.examConfs">
            <a (click)="workspaceData.deleteExamForAllStudents(ec)" class="link-with-icon" style="color: red;">
              <i class="material-icons">delete_forever</i>
              {{ ec.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div>
    <button class="mui-btn mui-btn--success" (click)="workspaceData.archiveGroup()">Заархівувати групу</button>
  </div>
</div>

<!--------------------- PROGRESS ---------------------->

<div [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': activeTab === tabs.progress }">
  <br>
  <div class="flex-container flex-justify-space-between">
    <div class="flex-container">
      <span class="header1 resmat-light">Робота:&nbsp;&nbsp;</span>
      <div class="mui-dropdown">
        <a data-mui-toggle="dropdown" class="header1 resmat-regular">
          {{ workspaceData.selectedExamConf ? workspaceData.selectedExamConf.name : 'виберіть роботу' }} <span class="mui-caret"></span>
        </a>
        <ul class="mui-dropdown__menu">
          <li *ngFor="let ec of workspaceData.examConfs">
            <a (click)="workspaceData.loadUserExamsByExamConf(ec)">
              {{ ec.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a (click)="workspaceData.loadUserExamsByExamConf(workspaceData.selectedExamConf)" class="link-with-icon no-print">
      <i class="material-icons">sync</i> Оновити
    </a>
  </div>
  <br>
  <div class="flex-container flex-column">
    <student-exam-list [exams]="workspaceData.studentExams" [conf]="workspaceData.studentExamsConf"></student-exam-list>
  </div>
</div>

<!--------------------- UPLOAD ---------------------->

<div [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': activeTab === tabs.upload }">
  <br>
  <div class="flex-container flex-column">
    <upload
      [path]="''"
      [auto]="false"
      [onlyImages]="false"
      [addToQueueWhenAdded]="false"
      (onAdded)="fileAdded($event)" class="flex-1"></upload>
    <div>
      <p>Студентів можна завантажити із файлу .docx (Microsoft Word).</p>
      <p>Система розпізнає текст за наступними правилами:</p>
      <ol>
        <li>Список студентів може бути будь яким набором абзаців, включаючи нумеровані, буквенні і маркерні списки</li>
        <li>
          З кожного абзаца система спробує витягнути <b>Прізвище, Ім'я і Kлюч доступу студента в такій же послідовності.</b>
          Ключ доступу опціональний, у разі відсутності система згенерує його автоматично у вигляді "Група-Прізвище"
          (у випадку наявності дублікатів ключів "-1" буде додано в кінці ключа доступу).
        </li>
        <li>Система ділить кожен абзац по пробілам, тому <b>ні Прізвище студента ні Ім'я ні Ключ не повинні містити в собі пробілів</b>.</li>
      </ol>
      <a href="https://drive.google.com/file/d/154FKFXVH18X1f44loiPo7UFGfh_lXIth/view?usp=sharing" target="_blank">Приклад</a>
      <p>Зверніть увагу - документи які містять зображення і формули не підримуються і можуть видавати неочікувані результати.</p>
    </div>
    <div class="flex-container flex-column" *ngIf="parsedStudents && parsedStudents.length" [hidden]="isSavingParsedStudents">
      <div>
        <h2 style="text-align: center;">Список завантажених студентів</h2>
        <div class="flex-container flex-justify-space-between">
          <button class="mui-btn mui-btn--primary" (click)="saveParsedStudents(false)">
            {{ 'Додати студентів до групи' }}
          </button>
          <button class="mui-btn mui-btn--danger" (click)="saveParsedStudents(true)">
            {{ 'Замінити всіх існуючих студентів завантаженими' }}
          </button>
        </div>
      </div>
      <table class="mui-table mui-table--bordered">
        <tbody>
          <tr>
            <td></td>
            <td class="resmat-label">Прізвище</td>
            <td class="resmat-label">Ім'я</td>
            <td class="resmat-label">Ключ доступу</td>
            <td></td>
          </tr>
          <tr *ngFor="let parsedStudent of parsedStudents; let i = index">
            <td>{{ i + 1 }}.&nbsp;</td>
            <td>{{ parsedStudent.lastName }}</td>
            <td>{{ parsedStudent.firstName }}</td>
            <td>{{ parsedStudent.accessKey }}</td>
            <td>
              <a (click)="deleteFromParsedStudents(i)"><i class="material-icons">delete_forever</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-container flex-justify-center flex-align-center" [hidden]="!parsedStudents || !isSavingParsedStudents">
      <h2>Зберігання...</h2>
    </div>
  </div>
</div>

<!--------------------- MATERIALS ---------------------->

<div [ngClass]="{ 'mui-tabs__pane': true, 'mui--is-active': activeTab === tabs.learningMaterials }">
  <div class="resmat-header">Доступні навчальні матеріали</div>
  <div class="mui-panel">
    <div [hidden]="workspaceData.selectableArticles.length > 0">Немає доступних матеріалів</div>
    <item-selector *ngIf="workspaceData.selectableArticles.length > 0"
                   [items]="workspaceData.selectableArticles"
                   [config]="workspaceData.itemSelectorConfig"
                   class="header4"></item-selector>
  </div>
  <button class="mui-btn mui-btn--primary" (click)="workspaceData.saveSelectedArticles()">Зберегти вибрані навчальні матеріали</button>
</div>
