.exam-container {
  margin-top: 1em;
}

.exam-assignment {
  display: flex;
  justify-content: center;
}

.exam-name {
  text-align: center;
  margin-top: 0px;
}

.exam-schema {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exam-schema img {
  height: 400px;
  margin: auto;
}

.exam-schems geogebra {
  margin: 0 10px;
}

.exam-schema-description {
  display: flex;
  flex: 2 2 auto;
}

.schema-var-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.schema-var-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

.schema-var-group span {
  text-align: center;
}

.schema-var-group-vars {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.schema-var-group-vars .schema-var {
  display: flex;
  margin: 0.7em;
}

.ital {
  font-style: italic;
}
