<div class="task-container relative">
  <h3 class="exam-name">Варіант {{task.id}}</h3>
  <div class="exam-assignment" *ngIf="!isCollapsed">
    <div class="exam-schema">
      <img *ngIf="task.schemaType == 'img-url'" src="{{task.schemaUrl}}" alt="Схема завдання">
      <geogebra *ngIf="task.schemaType == 'geogebra'" [objects]="geogebraObjects" [settings]="geogebraSettings"></geogebra>
    </div>
    <div class="exam-schema-description">
      <div class="schema-var-groups">
        <div class="schema-var-group" *ngFor="let schemaVarGroup of schemaVarGroups">
          <span *ngIf="schemaVarGroup.name" class="schema-var-group-name">{{ schemaVarGroup.name }}</span>
          <div class="schema-var-group-vars">
            <div class="schema-var" *ngFor="let schemaVar of schemaVarGroup.schemaVars">
              <div class="var-data">
                <span class="ital" [innerHTML]="schemaVar.name"></span>
                <span>=</span>
                <span>{{ schemaVar.value }}</span>
                <span class="ital">{{ schemaVar.units }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <help-materials *ngIf="task.problemConf.props.helpMaterials" [imgUrl]="task.problemConf.props.helpMaterials[0]" positionH="left" positionV="bottom" [hidden]="hideControls"></help-materials>
  <border-sticky-btn (onClick)="toggle()" positionH="right" [hidden]="hideControls">
    <i class="material-icons" [hidden]="isCollapsed">keyboard_arrow_up</i>
    <i class="material-icons" [hidden]="!isCollapsed">keyboard_arrow_down</i>
  </border-sticky-btn>
</div>
