<table class="mui-table mui-table--bordered">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Ключ доступу</th>
      <th class="controls"></th>
      <th class="controls"></th>
      <th class="controls"></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{ student.firstName }}</td>
    <td>{{ student.lastName }}</td>
    <td>{{ student.accessKey }}</td>
    <td><a (click)="delete(student)" *ngIf="deletable"><i class="material-icons">delete_forever</i></a></td>
    <td><a (click)="edit(student)"><i class="material-icons">mode_edit</i></a></td>
    <td><a (click)="results(student)"><i class="material-icons">insert_chart</i></a></td>
  </tr>
  <tr *ngIf="students && students.length === 0">
    <td colspan="5">В групі студентів немає</td>
  </tr>
  </tbody>
</table>
