<form class="test-content">
  <div class="test-question mui--text-subhead">
    <span class="test-number">{{ sequence }}.</span>
    {{ test?.question }}
  </div>
  <table class="test-questions">
    <tr class="option" *ngFor="let option of test?.options">
      <td class="result">
        <div *ngIf="isSubmitted && option.checked">
          <span class="wrong" *ngIf="!isCorrectAnswer">&#9747;</span>
          <span class="correct" *ngIf="isCorrectAnswer">&#10003;</span>
        </div>
      </td>
      <td>
        <input type="radio" name="radiogroup"
               [checked]="option.checked"
               [value]="option.id"
               (change)="onOptionChecked(option)">
      </td>
      <td>
        <span *ngIf="option.type === 'words'">{{ option.value }}</span>
        <img class="option-img" *ngIf="option.type === 'img'" src="{{ option.value }}">
      </td>
    </tr>
  </table>
  <div class="submit-block">
    <div class="wrong alert mui--text-title" *ngIf="isSubmitted && !isCorrectAnswer">
      Відповідь не вірна, оберіть інший варіант.
    </div>
    <div class="correct alert mui--text-title" *ngIf="isSubmitted && isCorrectAnswer">
      Відповідь правильна.
    </div>
    <button class="submit mui-btn mui-btn--raised"
            (click)="submit()"
            *ngIf="!isSubmitted || !isCorrectAnswer">
      Зберегти
    </button>
    <button class="next mui-btn mui-btn--primary"
            (click)="nextTest()"
            *ngIf="isSubmitted && isCorrectAnswer">
      Продовжити
    </button>
  </div>
</form>
