<div class="container">
  <div class="side-menu mui--no-user-select mui-panel" [ngClass]="{'side-menu-collapsed': sideMenuCollapsed}">
    <a (click)="sideMenuCollapsed = !sideMenuCollapsed" class="resmat-regular">
      <i class="material-icons" [hidden]="sideMenuCollapsed" style="float: right">first_page</i>
      <i class="material-icons" [hidden]="!sideMenuCollapsed">settings_ethernet</i>
    </a>
    <ul [hidden]="sideMenuCollapsed">
      <li *ngIf="userPermission >= permissions.Admin">
        <div class="side-menu-with-creator">
          <strong>Користувачі</strong>
          <a class="side-menu-creator" (click)="loadCreateUser()">
            <i class="material-icons header4">control_point</i>
          </a>
        </div>
        <ul>
          <li *ngFor="let user of users"><a (click)="loadEditUser(user)">{{ user.firstName + ' ' + user.lastName }}</a>
          </li>
        </ul>
      </li>
      <li>
        <strong><a class="resmat-regular" (click)="loadArticles()">Навчальні матеріали</a></strong>
      </li>
      <li>
        <div class="side-menu-with-creator">
          <strong>Групи</strong>
          <a class="side-menu-creator" (click)="addStudentGroup()">
            <i class="material-icons header4">control_point</i>
          </a>
        </div>
        <ul>
          <li *ngFor="let group of studentGroups"><a (click)="loadGroupStudentsWorkspace(group)">{{ group.name }}</a></li>
        </ul>
      </li>
      <li *ngIf="userPermission >= permissions.Admin">
        <div class="side-menu-with-creator">
          <strong>Іспити</strong>
          <a class="side-menu-creator" (click)="addExamConf()">
            <i class="material-icons header4">control_point</i>
          </a>
        </div>
        <ul>
          <li *ngFor="let ec of examConfs"><a (click)="loadExamConf(ec.id)">{{ ec.name }}</a></li>
        </ul>
      </li>
      <li *ngIf="userPermission >= permissions.Admin">
        <strong>Задачі</strong>
        <ul>
          <li *ngFor="let p of problemConfs"><a (click)="loadProblemConf(p.id)">{{ p.name }}</a></li>
        </ul>
      </li>
      <li *ngIf="userPermission >= permissions.Instructor">
        <div class="side-menu-with-creator">
          <strong>Групи тестів</strong>
          <a class="side-menu-creator" (click)="addTestGroupConf()">
            <i class="material-icons header4">control_point</i>
          </a>
        </div>
        <ul *ngIf="testsGroupConfs">
          <test-group-list [groups]="testsGroupConfs" (onGroupClicked)="loadTestGroupConf($event)"></test-group-list>
        </ul>
      </li>
      <li>
        <strong><a class="resmat-regular" (click)="loadArchiveWorkspace()">Архів</a></strong>
      </li>
    </ul>
  </div>
  <div class="workspace mui-container-fluid mui-panel">

    <div *ngIf="workspaceData">
      <user *ngIf="workspaceData.type === 'user'"
            [user]="workspaceData.data"
            [config]="workspaceData.config"
            (onSaved)="workspaceData.save($event)"></user>

      <div *ngIf="workspaceData.type === 'group-students'">
        <group-students
          [workspaceData]="workspaceData"
          [deletable]="userPermission >= permissions.Instructor"
          (onResultsRequested)="loadStudentResults($event, workspaceData.data)"
          (onEditRequested)="loadEditUser($event, true, workspaceData.data)"
          (onAddUserToCurrentGroup)="addUserToCurrentGroup($event)"
        ></group-students>
        <br>
      </div>

      <student-exams *ngIf="workspaceData.type === 'student_exams'"
                     (onBackToGroup)="loadGroupStudentsWorkspace(workspaceData.sourceGroup)"
                     [student]="workspaceData.data"
                     [examConfs]="examConfs"
                     [deletable]="userPermission >= permissions.Instructor"
      ></student-exams>

      <create-student *ngIf="workspaceData.type === 'add-student'"
                      [group]="workspaceData.data"
                      (onSaved)="addStudent($event)"></create-student>

      <div *ngIf="workspaceData.type === 'add-student-group'">
        <div class="mui-textfield editor-input">
          <input [(ngModel)]="workspaceData.data" placeholder="Введіть ім'я групи">
        </div>
        <button class="mui-btn mui-btn--primary" (click)="workspaceData.save()">Зберегти</button>
      </div>

      <div *ngIf="workspaceData.type === 'edit-exam'">
        <edit-exam-conf [data]="workspaceData.data"
                        [isSaving]="workspaceData.isSaving"
                        (onSave)="workspaceData.onSaved($event)"></edit-exam-conf>
      </div>

      <div *ngIf="workspaceData.type === 'problem'">
        <problem-conf [problemConfWithVariants]="workspaceData.data"></problem-conf>
      </div>

      <div *ngIf="workspaceData.type === 'test_group'">
        <edit-test-group-conf
          [workspaceData]="workspaceData"
          (onEditTestConf)="editTestConf($event.groupId, $event.testConf)"
          (onLoadTestGroupConf)="loadTestGroupConf($event)"></edit-test-group-conf>
      </div>

      <div *ngIf="workspaceData.type === 'add_test_group'">
        <div class="mui-textfield editor-input">
          <input [(ngModel)]="workspaceData.data.name" placeholder="Введіть ім'я групи">
        </div>
        <div class="mui-textfield parent-group-dropdown">
          <dropdown
            [options]="workspaceData.parentGroupOptions"
            [selectedOptionId]="workspaceData.selectedParentGroupId"
            [maxWidthPx]="1000"
            (onSelected)="workspaceData.parentGroupChanged($event)"></dropdown>
          <label>Батьківська група</label>
        </div>
        <button class="mui-btn mui-btn--primary" (click)="workspaceData.save()">Зберегти</button>
      </div>

      <div *ngIf="workspaceData.type === 'edit_test_conf'">
        <edit-test-conf [isSaving]="workspaceData.isSaving"
                        [testToUpdate]="workspaceData.data"
                        (onSave)="workspaceData.save($event)"
                        (onBackToGroup)="loadTestGroupConfById(workspaceData.data.groupId)"></edit-test-conf>
      </div>

      <div *ngIf="workspaceData.type === 'add_student_group'">
        <div class="mui-textfield editor-input">
          <input [(ngModel)]="workspaceData.data" placeholder="Введіть ім'я групи">
        </div>
        <button class="mui-btn mui-btn--primary" (click)="workspaceData.save()">Зберегти</button>
      </div>

      <div *ngIf="workspaceData.type === 'articles'">
        <div [hidden]="!workspaceData.showArticles">
          <div style="display: flex;">
            <div class="mui-textfield mui-textfield--float-label" style="flex: 1">
              <input type="text" [(ngModel)]="workspaceData.newArticleHeader">
              <label>Створити статтю з таким заголовком</label>
            </div>
            <button class="mui-btn mui-btn--raised" (click)="workspaceData.createNewArticle()">
              Створити
            </button>
          </div>
          <div class="mui-panel relative" *ngFor="let article of workspaceData.data">
            <border-sticky-btn positionH="right" positionV="top" paddingPx="15" [hidden]="userPermission < permissions.Instructor"
                               (onClick)="workspaceData.deleteArticle(article)">
              <i class="material-icons">delete_forever</i>
            </border-sticky-btn>
            <article-preview [header]="article.header"
                             [previewText]="article.preview"
                             [editable]="true"
                             [visible]="article.visible"
                             (onDetailsClicked)="workspaceData.show(article)"
                             (onEditClicked)="workspaceData.edit(article)"></article-preview>
          </div>
        </div>
        <div *ngIf="!workspaceData.showArticles">
          <a (click)="workspaceData.backToList()">Назад до списку статей</a>
          <article-editor *ngIf="workspaceData.articleToEdit"
                          [data]="workspaceData.articleToEdit"
                          (onSave)="workspaceData.saveEdited($event)"></article-editor>
          <article *ngIf="workspaceData.articleToShow"
                   [header]="workspaceData.articleToShow.header"
                   [bodyText]="workspaceData.articleToShow.body"></article>
        </div>
      </div>

      <div *ngIf="workspaceData.type === 'archive'">
        <archive-workspace [workspaceData]="workspaceData"></archive-workspace>
      </div>
    </div>

  </div>
</div>
