<div class="container">
  <div class="side-menu mui--no-user-select mui-panel">
    <ul>
      <li *ngIf="isAdmin">
        <strong>Користувачі</strong>
        <ul>
          <li *ngFor="let user of users"><a (click)="loadEditUser(user)">{{ user.firstName + ' ' + user.lastName }}</a></li>
        </ul>
      </li>
      <li>
        <strong>Групи</strong>
        <ul>
          <li *ngFor="let group of studentGroups"><a (click)="loadStudentsByGroup(group)">{{ group.name }}</a></li>
        </ul>
      </li>
      <li>
        <strong>Іспити</strong>
        <ul>
          <li *ngFor="let ec of examConfs"><a (click)="loadExamConf(ec.id)">{{ ec.name }}</a></li>
        </ul>
      </li>
      <li>
        <strong>Задачі</strong>
        <ul>
          <li *ngFor="let p of problemConfs"><a (click)="loadProblemConf(p.id)">{{ p.name }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="workspace mui-container-fluid mui-panel">
    <div *ngIf="workspaceData">
      <user *ngIf="workspaceData.type === 'user'"
            [user]="workspaceData.data"
            [config]="workspaceData.config"
            (onSaved)="workspaceData.save($event)"></user>

      <div *ngIf="workspaceData.type === 'group-students'">
        <span class="header3">{{ workspaceData.group.name }}</span><a (click)="addUserToCurrentGroup(workspaceData.group)" style="float: right">Додати студента</a>
        <br>
        <a (click)="lockAllInGroup(workspaceData.group)">Заблокувати всі роботи в групі</a>
        <br>
        <a (click)="unlockAllInGroup(workspaceData.group)">Розблокувати всі роботи в групі</a>
        <br><br>
        <group-students
          [students]="workspaceData.data"
          (onResultsRequested)="loadStudentResults($event)"
          (onEditRequested)="loadEditUser($event)"></group-students>
      </div>

      <student-exams *ngIf="workspaceData.type === 'student_exams'"
                      [student]="workspaceData.data" [examConfs]="examConfs"></student-exams>

      <create-student *ngIf="workspaceData.type === 'add-student'"
                      [group]="workspaceData.data"
                      (onSaved)="addStudent($event)"></create-student>

      <div *ngIf="workspaceData.type === 'exam-results'">
        <div *ngFor="let result of workspaceData.data" class="exam-result">
          <exam-results [data]="result"></exam-results>
          <div class="mui-divider"></div>
        </div>
      </div>

      <div *ngIf="workspaceData.type === 'exam'">
        <exam-conf [data]="workspaceData.data"></exam-conf>
      </div>

      <div *ngIf="workspaceData.type === 'problem'">
        <problem-conf [problemConf]="workspaceData.data" [variants]="workspaceData.data.variants"></problem-conf>
      </div>
    </div>

  </div>
</div>
