<div class="container">
  <div class="side-menu mui--no-user-select mui-panel">
    <ul>
      <li *ngIf="isAdmin">
        <strong>Користувачі</strong>
        <ul>
          <li *ngFor="let user of users"><a (click)="loadEditUser(user)">{{ user.firstName + ' ' + user.lastName }}</a></li>
        </ul>
      </li>
      <li>
        <strong>Групи</strong>
        <ul>
          <li *ngFor="let group of studentGroups"><a (click)="loadStudentsByGroup(group)">{{ group.name }}</a></li>
        </ul>
      </li>
      <li>
        <strong>Іспити</strong>
        <ul>
          <li *ngFor="let ec of examConfs"><a (click)="loadExamConf(ec.id)">{{ ec.name }}</a></li>
        </ul>
      </li>
      <li>
        <strong>Задачі</strong>
        <ul>
          <li *ngFor="let p of problemConfs"><a (click)="loadProblemConf(p.id)">{{ p.name }}</a></li>
        </ul>
      </li>
      <li>
        <div style="display: flex; justify-content: space-around; align-items: center;">
          <strong style="flex: 6;">Групи тестів</strong>
          <a style="margin-right: 5px;" (click)="addTestGroupConf()"><i class="material-icons header4">control_point</i> </a>
        </div>
        <ul>
          <li *ngFor="let g of testsGroupConfs" style="margin-bottom: 0.5em;"><a (click)="loadTestGroupConf(g)">{{ g.name }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="workspace mui-container-fluid mui-panel">

    <div *ngIf="workspaceData">
      <user *ngIf="workspaceData.type === 'user'"
            [user]="workspaceData.data"
            [config]="workspaceData.config"
            (onSaved)="workspaceData.save($event)"></user>

      <div *ngIf="workspaceData.type === 'group-students'">
        <span class="header3">{{ workspaceData.group.name }}</span><a (click)="addUserToCurrentGroup(workspaceData.group)" style="float: right">Додати студента</a>
        <br>
        <a (click)="lockAllInGroup(workspaceData.group)">Заблокувати всі роботи в групі</a>
        <br>
        <a (click)="unlockAllInGroup(workspaceData.group)">Розблокувати всі роботи в групі</a>
        <br><br>
        <group-students
          [students]="workspaceData.data"
          (onResultsRequested)="loadStudentResults($event)"
          (onEditRequested)="loadEditUser($event)"
          (onDeleteRequested)="deleteStudent($event)"></group-students>
      </div>

      <student-exams *ngIf="workspaceData.type === 'student_exams'"
                      [student]="workspaceData.data" [examConfs]="examConfs"></student-exams>

      <create-student *ngIf="workspaceData.type === 'add-student'"
                      [group]="workspaceData.data"
                      (onSaved)="addStudent($event)"></create-student>

      <div *ngIf="workspaceData.type === 'exam-results'">
        <div *ngFor="let result of workspaceData.data" class="exam-result">
          <exam-results [data]="result"></exam-results>
          <div class="mui-divider"></div>
        </div>
      </div>

      <div *ngIf="workspaceData.type === 'exam'">
        <exam-conf [data]="workspaceData.data"></exam-conf>
      </div>

      <div *ngIf="workspaceData.type === 'problem'">
        <problem-conf [problemConf]="workspaceData.data" [variants]="workspaceData.data.variants"></problem-conf>
      </div>

      <div *ngIf="workspaceData.type === 'test_group'">
        <div style="display: flex; justify-content: space-between; align-items: baseline;">
          <editable-text class="resmat-header resmat-regular" style="flex: 5"
                         [text]="workspaceData.data.name"
                         inputPlaceholder="Введіть назву групи"
                         (onSave)="workspaceData.save($event)"></editable-text>
          <a style="flex: 1; text-align: right;" (click)="editTestConf(workspaceData.data.id, null)" class="resmat-primary">Додати тест</a>
        </div>
        <table class="mui-table mui-table--bordered">
          <tr *ngFor="let t of workspaceData.data.testConfs">
            <td>
              <test-conf-preview [test]="t"
                                 (onEdit)="editTestConf(workspaceData.data.id, $event)"
                                 (onDelete)="workspaceData.deleteTestConf($event)"></test-conf-preview>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="workspaceData.type === 'edit_test_conf'">
        <edit-test-conf [isSaving]="workspaceData.isSaving" [testToUpdate]="workspaceData.data" (onSave)="workspaceData.save($event)"></edit-test-conf>
      </div>

      <div *ngIf="workspaceData.type === 'add_test_group'">
        <div class="mui-textfield editor-input">
          <input [(ngModel)]="workspaceData.data" placeholder="Введіть ім'я групи">
        </div>
       <button class="mui-btn mui-btn--primary" (click)="workspaceData.save()">Зберегти</button>
      </div>
    </div>

  </div>
</div>
