/**
 * Layout CSS
 */

.container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.side-menu {
  min-width: 200px;
  flex-grow: 1;
  margin: 1em;
  padding: 0px;
  overflow: scroll;
  max-width: 20%;
}

.side-menu-collapsed {
  min-width: 30px;
  flex: 0;
  text-align: center;
}

.workspace {
  margin: 1em;
  flex-grow: 1;
  overflow: scroll;
}

.error-message {
  color: red;
  text-align: center;
}

/**
 * Side menu CSS
 */
.side-menu ul {
  list-style: none;
}

.side-menu > ul {
  padding-left: 0px;
}

.side-menu > ul > li:first-child {
  padding-top: 35px;
}

.side-menu > ul > li > ul {
  padding-left: 2em;
}

.side-menu > ul > li > ul > li {
  margin-bottom: 0.5em;
}

.side-menu strong {
  display: block;
  padding: 0 1em;
  cursor: pointer;
}

.side-menu-with-creator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.side-menu-with-creator strong {
  flex: 1;
}
.side-menu-creator {
  margin-right: 5px;
}

.exam-result .mui-divider {
  margin: 2em;
}

.group-students-header {
  padding: 0 0.5em;
}

.parent-group-dropdown {
  margin-bottom: 0;
}
