<div [hidden]="showExamResult">
  <div class="mui--text-center full-width" [hidden]="exams && exams.length > 0">Немає даних для відображення</div>
  <div *ngFor="let sue of exams" class="mui-panel relative user-exam-panel">
    <div class="relative">
      <border-sticky-btn (onClick)="deleteExam(sue)" positionH="right" positionV="top" *ngIf="conf.deletable">
        <i style="color: red;" class="material-icons">clear</i>
      </border-sticky-btn>
      <border-sticky-btn (onClick)="toggleLock(sue)" positionH="right" positionV="bottom">
        <i style="color: #a000c3;" class="material-icons" [hidden]="sue.exam.lockedUntil">lock_outline</i>
        <i class="material-icons" [hidden]="!sue.exam.lockedUntil">lock_open</i>
      </border-sticky-btn>
      <div [hidden]="conf.showStudentInfoInsteadOfExam">
        <div class="exam-name">{{ sue.exam.name }}</div>
        <span class="mui--text-dark-secondary">{{ sue.exam.description }}</span>
      </div>
      <div [hidden]="!conf.showStudentInfoInsteadOfExam">
        <div class="exam-name">{{ sue.student.firstName }} {{ sue.student.lastName }}</div>
      </div>
      <div class="warn" *ngIf="sue.exam.status === 'initial'">
        Не розпочата
      </div>
      <div *ngIf="sue.exam.status === 'in-progress'">
        <span class="mui--text-dark-secondary">Прогрес:</span>
        Крок № {{ sue.exam.currentStep.sequence }} - {{ sue.exam.currentStep.description }}
      </div>
      <div class="success" *ngIf="sue.exam.status === 'success'">
        Завершено успішно!&nbsp; {{ sue.exam.result ? 'Оцінка - ' + sue.exam.result.score + '/' + sue.exam.result.maxScore : '' }}
        <a (click)="loadExamResult(sue)">Переглянути результати</a>
      </div>
      <div class="fail" *ngIf="sue.exam.status === 'failed'">
        Провалено на кроці № {{ sue.exam.currentStep.sequence }} - {{ sue.exam.currentStep.description }}
      </div>
      <div class="locked" *ngIf="sue.exam.lockedUntil">
        Заблоковано до {{ sue.exam.lockedUntil.toLocaleString() }}
      </div>
    </div>
  </div>
</div>
<div *ngIf="showExamResult">
  <div class="flex-container" style="justify-content: flex-end">
    <a (click)="hideExamResult()">Назад до робіт</a>
  </div>
  <br>
  <exam-results [data]="examResult"></exam-results>
</div>
