<div #taskFlowContainer>
  <div class="mui-panel">
    <task [task]="getTaskVariantData()"></task>
  </div>
  <div class="help-data" *ngIf="helpDataItems.length > 0">
    <div class="help-data-item mui-panel" *ngFor="let helpDataItem of helpDataItems">
      <div class="relative">
        <p [hidden]="!helpDataItem.collapsed">{{ helpDataItem.name }}</p>
        <div [ngSwitch]="helpDataItem.type" [hidden]="helpDataItem.collapsed">
          <chart-set *ngSwitchCase="'charts'" [data]="helpDataItem.data" ></chart-set>
          <input-set *ngSwitchCase="'var-value-set'" [data]="helpDataItem.data" [readonly]="true"></input-set>
          <div *ngSwitchCase="'drawing'" class="flex-container flex-align-center flex-justify-center">
            <geogebra [objects]="helpDataItem.data.geogebraObjects"
                      [settings]="helpDataItem.data.geogebraComponentSettings"></geogebra>
          </div>
          <dynamic-table *ngSwitchCase="'dynamic-table'" [data]="helpDataItem.data"></dynamic-table>
          <equation-set *ngSwitchCase="'equation-set-help'" [data]="helpDataItem.data" [isHelpStep]="true"></equation-set>
        </div>
        <border-sticky-btn (onClick)="helpDataItem.collapsed = !helpDataItem.collapsed" positionH="right">
          <i class="material-icons" [hidden]="helpDataItem.collapsed">keyboard_arrow_up</i>
          <i class="material-icons" [hidden]="!helpDataItem.collapsed">keyboard_arrow_down</i>
        </border-sticky-btn>
      </div>
    </div>
  </div>
  <div class="loading" [hidden]="step.type !== 'loading'">
    Завантаження...
  </div>
  <div class="mui-panel" *ngIf="step.type === 'test'">
    <app-test [test]="step.data" [showContinue]="true"
              (onSubmitted)="stepSubmitted($event)" (onContinue)="stepContinue($event)"></app-test>
  </div>
  <div class="mui-panel" *ngIf="step.type === 'input-set'">
    <input-set [data]="step.data" [readonly]="step.readOnly"
               (onSubmitted)="stepSubmitted($event)" (onContinue)="stepContinue($event)"></input-set>
  </div>
  <div class="mui-panel" *ngIf="step.type === 'grouped-input-set'">
    <input-set [data]="step.data" [readonly]="step.readOnly"
               (onSubmitted)="stepSubmitted($event)" (onContinue)="stepContinue($event)"></input-set>
  </div>
  <div class="mui-panel" *ngIf="step.type === 'equation-set'">
    <equation-set [data]="step.data" (onSubmitted)="stepSubmitted($event)" (onContinue)="stepContinue($event)"></equation-set>
  </div>
  <div class="mui-panel" *ngIf="step.type === 'charts'">
    <div class="mui--text-subhead">
      <span>{{ step.sequence }}.</span>
      {{ step.name }}
    </div>
    <chart-set [data]="step.data"></chart-set>
    <navigation showContinue="true" alignContent="right"
                (onBack)="stepBack($event)" (onContinue)="stepContinue($event)"></navigation>
  </div>
  <div id="scrollToBottomAnchor"></div>
</div>
