.dummy-components-container-parent {
  display: flex;
  padding-top: 3rem;
}

.dummy-components-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.playground-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.playground-list {
  display: flex;
  flex-direction: column;
}

.playground-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playground-workspace {
  display: flex;
}
