<div class="dummy-components-container-parent">
  <div class="mui-panel">
    <h2>Приклад автоматично намальованих фігур повернутих на 0, 90, 180, 270 градусів</h2>
    <geogebra [objects]="demoObjects" [settings]="demoSettings"></geogebra>
    <br>
    <h2>Приклад автоматично намальованих фігур для задачі з гуометрії</h2>
    <geogebra [objects]="demoObjects2" [settings]="demoSettings2"></geogebra>
    <br>
    <h2>Повнофункціональний редактор а якому можна погратись</h2>
    <geogebra [objects]="playgroundObjects" [settings]="playgroundSettings"></geogebra>
  </div>
</div>
