<form #userForm="ngForm" (submit)="save()">
  <div class="mui-textfield" *ngIf="user.id">
    <input class="disabled" type="text" [value]="user.id" disabled>
    <label>ID</label>
  </div>
  <fieldset [disabled]="config.isSaving">
    <div class="mui-textfield user-type">
      <dropdown [options]="userTypes" [selectedOptionId]="user.userType.id" (onSelected)="userTypeChanged($event)"></dropdown>
      <label>Тип</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="username" [(ngModel)]="user.username" required>
      <label>Логін</label>
    </div>
    <div class="mui-textfield">
      <input type="password"
             name="password"
             [(ngModel)]="user.password"
             [placeholder]="user.id ? 'Введений пароль перезапише існуючий' : ''"
             [required]="!user.id"
      >
      <label>Пароль</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
      <label>Ім'я</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="lastName" [(ngModel)]="user.lastName" required>
      <label>Прізвище</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="email" [(ngModel)]="user.email">
      <label>Імейл</label>
    </div>
    <div class="mui-textfield">
      <input type="text" name="accessKey" [(ngModel)]="user.accessKey" required>
      <label>Ключ доступу</label>
    </div>

    <button class="mui-btn mui-btn--primary"
            type="submit" [disabled]="!userForm.form.valid">
      {{ config.isSaving ? 'Збереження' : 'Зберегти' }}
    </button>
  </fieldset>
</form>
