<div class="mui-dropdown" [ngStyle]="stylesObj">
  <button class="mui-btn mui-btn--flat text-ellipsis full-width resmat-dropdown-button" data-mui-toggle="dropdown"
          [innerHTML]="(selectedOption ? selectedOption.selectedText : selectedOptionPlaceholder) + muiCaret">
  </button>
  <ul class="mui-dropdown__menu">
    <li *ngFor="let option of options">
      <a (click)="select(option)" [ngClass]="{'resmat-dropdown-selected-option': selectedOption === option}">
        {{ option.text }}
      </a>
    </li>
    <li [hidden]="options.length > 0">Список пустий</li>
  </ul>
</div>
