.resmat-dropdown-button {
  padding: 0;
  display: flex;
  /*justify-content: center; - not nice with long text*/
  align-items: center;
}

.mui-dropdown__menu .resmat-dropdown-selected-option {
  font-weight: bolder;
}
