<div class="bc-container mui-container">
  <div class="mui--text-subhead">
    <span class="test-number">{{ sequence }}.</span>
    Введіть значення граничних умов, невідомі умови позначити знаком «?»:
  </div>
  <div class="bc-data">
    <table>
      <caption>На внутрішньому контурі</caption>
      <tr *ngFor="let ic of inside">
        <td class="var-name"><span [innerHTML]="ic.name"></span></td>
        <td>=</td>
        <td class="var-value">
          <div class="mui-textfield">
            <input type="text" [(ngModel)]="ic.typedValue"
                               [ngClass]="{ 'mui-invalid': isSubmitted && !ic.valid }" required>
          </div>
        </td>
        <td class="var-units">{{ic.units}}</td>
      </tr>
    </table>
    <table>
      <caption>На зовнішньому контурі</caption>
      <tr *ngFor="let oc of outside">
        <td class="var-name"><span [innerHTML]="oc.name"></span></td>
        <td>=</td>
        <td class="var-value">
          <div class="mui-textfield">
            <input type="text" [(ngModel)]="oc.typedValue"
                               [ngClass]="{ 'mui-invalid': isSubmitted && !oc.valid }">
          </div>
        </td>
        <td class="var-units">{{oc.units}}</td>
      </tr>
    </table>
  </div>
  <!--<app-submit [isSubmitted]="isSubmitted" [isCorrectAnswer]="isCorrectAnswer"-->
              <!--(onSubmit)="submit()" (onNext)="nextAssignment()"></app-submit>-->
</div>
