.relative {
  position: relative;
}

.help-materials {
  position: absolute;
  color: #2196F3 !important;
  text-decoration: none !important;
}

.help-materials.bottom {
  bottom: -10px;
}

.help-materials.top {
  top: -10px;
}

.help-materials.left {
  left: -20px;
}

.help-materials.right {
  right: -10px;
}
