html, body {
  height: 100%;
}

body {
  padding-bottom: 90px;
}

.disabled {
  color: grey !important;
  cursor: default !important;
}

.text-ellipsis {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.link-with-icon {
  display: flex !important;
  align-items: center !important;
}
.link-with-icon:focus, .link-with-icon:hover {
  text-decoration: unset;
}
.link-with-icon i.material-icons {
  margin-right: 5px;
}


.relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.border-sticky-item {
  position: absolute;
  color: #2196F3;
  text-decoration: none;
  z-index: 10;
}

.border-sticky-item.bottom {
  bottom: -10px;
}

.border-sticky-item.top {
  top: -10px;
}

.border-sticky-item.left {
  left: -10px;
}

.border-sticky-item.right {
  right: -10px;
}

.resmat-header {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.resmat-regular, .resmat-regular:hover {
  color: rgba(0,0,0,.87);
}

.resmat-light, .resmat-light:hover {
  color: rgba(0,0,0,.54);
}

.resmat-success {
  color: green;
}

.resmat-primary {
  color: #2196F3;
}

.resmat-error {
  color: red;
}

.resmat-label {
  color: rgba(0,0,0,.54);
  font-weight: 400;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resmat-tab {
  background-color: #00000014;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
  .for-print {
    display: block;
  }
  .print-scroll-container {
    overflow: visible !important;
  }
}

.for-print {
  display: none;
}

a {
  cursor: pointer;
}

[hidden] { display: none !important;}

.modal {
  padding: 1em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  background: white;
  top: 30%;
  left: 30%;
  width: 60%;
  max-height: 60%;
  min-height: 450px;
}

.header1 {
  font-size: 1.5em;
}
.header2 {
  font-size: 1.4em;
}
.header3 {
  font-size: 1.3em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}
.header4 {
  font-size: 1.2em;
}
.header5 {
  font-size: 1.1em;
}

.small-text1 {
  font-size: 0.9em;
}
.small-text2 {
  font-size: 0.8em;
}
.small-text3 {
  font-size: 0.7em;
}

/* FLEXBOX */
.flex-container {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-align-center {
  align-items: center;
  align-content: center;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-space-between {
  justify-content: space-between;
}

/* OVERRIDE MUI*/
.material-icons {
  line-height: inherit;
}

.mui-textfield>input:disabled, .mui-textfield>input:read-only, .mui-textfield>textarea:disabled, .mui-textfield>textarea:read-only {
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
  color: grey;
}

.mui-tabs__bar>li>a {
  cursor: pointer;
}
/* OVERRIDE MUI END*/
