<div ng2FileDrop
     [ngClass]="{'nv-file-over': hasDropZoneOver}"
     (fileOver)="fileOver($event)"
     [uploader]="uploader"
     class="upload-drop-zone">
  Перетягніть або виберіть файл вручну
  <br>
  <input class="file-selector" type="file" ng2FileSelect multiple [uploader]="uploader"/>
  <br>
  <table class="items-holder">
    <tr *ngFor="let item of uploader.queue">

      <td style="width: 70%;">{{ item?.file?.name }}</td>
      <td style="width: 15%;">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
      <td style="min-width: 60px;">
        <img src="../img/facebook_loading.gif" [hidden]="!item.isUploading"/>
        <i class="material-icons resmat-success" [hidden]="!item.isSuccess">done</i>
        <i class="material-icons resmat-error" [hidden]="!item.isError && !item.isCancel">error_outline</i>
      </td>
      <td style="width: 10%;">
        <div class="item-buttons-flex-container">
          <div class="cursor-pointer resmat-primary" (click)="uploadFile(item)" [hidden]="item.isSuccess">
            <i class="material-icons">backup</i>
          </div>
          <div class="cursor-pointer" (click)="item.cancel()" [hidden]="!item.isUploading">
            <i class="material-icons">not_interested</i>
          </div>
          <div class="cursor-pointer" (click)="item.remove()" [hidden]="item.isUploading">
            <i class="material-icons">delete_forever</i>
          </div>
        </div>
      </td>
    </tr>
    <tr [hidden]="!errorMessage" colspan="4" class="resmat-error">{{ errorMessage }}</tr>
  </table>
</div>
