<div class="content">
  <div class="mui--text-subhead">
    <span class="test-number">{{ sequence }}.</span>
    Чи забезпечується міцність перерізу?
  </div>
  <table class="test-questions">
    <tr class="option" *ngFor="let option of test?.options">
      <td class="result">
        <div *ngIf="isSubmitted && option.checked">
          <span class="wrong" *ngIf="!isCorrectAnswer">&#9747;</span>
          <span class="correct" *ngIf="isCorrectAnswer">&#10003;</span>
        </div>
      </td>
      <td class="radiobutton">
        <input type="radio" name="radiogroup"
               [checked]="option.checked"
               [value]="option.id"
               (change)="onOptionChecked(option)">
      </td>
      <td>
        <span *ngIf="option.type === 'words'">{{ option.value }}</span>
        <img class="option-img" *ngIf="option.type === 'img'" src="{{ option.value }}">
      </td>
    </tr>
  </table>
  <!--<app-submit [isSubmitted]="isSubmitted" [isCorrectAnswer]="isCorrectAnswer"-->
              <!--(onSubmit)="submit()" (onNext)="nextAssignment()"></app-submit>-->
</div>
