<div>
  <div class="mui--text-subhead">
    <span class="test-number">{{ data.sequence }}.</span>
    <span [innerHtml]="data.description"></span>
  </div>
  <form #equationsSetForm="ngForm" class="container">
    <div class="set">
      <div *ngFor="let eq of data.equations">
        <equation [equation]="eq" [showValidation]="isVerified()"></equation>
      </div>
    </div>
  </form>
  <status-with-navigation *ngIf="!readonly" [showStatus]="isVerified()"
                          [statusSuccess]="data.status === 1"
                          statusSuccessMessage="Відповідь правильна."
                          statusFailureMessage="Відповідь не вірна, введіть інше значення."
                          [showSubmit]="data.status !== 1" [showContinue]="data.status === 1"
                          [disableSubmit]="!equationsSetForm.form.valid || data.status === 2"
                          (onSubmit)="submit()" (onContinue)="nextAssignment()"></status-with-navigation>
</div>
